[Unit]
Description=Cooling Failure Protection Service
#After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/cooling-failure-protection/bin/cooling-failure-protection.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
